# Framework BDD (Gherkin)
behave==1.2.6

# Automação Web para Interação com a Interface da IA
playwright==1.49.0

# Langfuse para Tracing e Monitoramento de LLM
langfuse==2.57.2

# Gerenciamento de Variáveis de Ambiente (.env)
python-dotenv==1.0.1

# Formatador Avançado para Relatórios HTML de QA
behave-html-formatter==0.5.3
